section
  .container-lg
    .row
      .col-12.col-sm-6
        .wrapper_info
          h6 Готовы поговорить?
          h3 Связаться с нами
          p
            |Massa tempor nec feugiat nisl pretium fusce id velit. Accumsan tortor posuere ac ut. Aenean pharetra magna ac placerat vestibulum lectus. Praesent semper feugiat nibh sed pulvinar. Lorem sed risus ultricies tristique.
          p
            |Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Amet dictum sit amet justo donec enim diam vulputate. Ut morbi tincidunt augue interdum velit euismod in pellentesque. Volutpat lacus laoreet non curabitur.

      .col-12.col-sm-6
        .wrapper_form
          input(type="text", name="nameuser", placeholder= "Enter your Name")
          input(type="email", name="emailuser" placeholder= "Enter a valid email address")
          textarea(placeholder= "Enter Your message")
          input.rounded-pill(type="submit", name="btnform" value="Представить на рассмотрение")
        ul.social
          li.social_item
            a(href="#")
              i.fab.fa-facebook
          li.social_item
            a(href="#")
              i.fab.fa-twitter
          li.social_item
            a(href="#")
              i.fab.fa-instagram
