section
  .container-lg
    .row
      .col-12.col-sm-12.col-md-8
        .black_car
          .black_car_img
      .col-12.col-sm-12.col-md-4
        .text_note
          h2
            | Безопасно.
            br
            | Расслабляющий.
            br
            | Хорошо ездить.
            br
            | Тонко оформлен.
