section
  .container
    .row
      .col-12
        h1 Поиск лучшей страховой компании для вас
        p
          | Цены и скидки составляли часть оценки каждого страховщика, но мы знаем, что стоимость является главным фактором для многих покупателей автострахования. Поскольку цены зависят от личных факторов, включая ваш возраст, местонахождение, автомобиль, кредитную историю и пол (в большинстве случаев), важно поискать расценки на страхование автомобиля.
          br
          br
          span
            | Если цена является наиболее важным фактором в вашем поиске, сравнение цен на автострахование может помочь вам найти самый дешевый тариф. Но ваш опыт покупок также прольет свет на стандарты обслуживания клиентов компании.
        span
          include svg
