.container
  .row.justify-content-center.text-center
    p
      | Created with help LEADING &nbsp;

    p
      a(href="malito:Good.web@yahoo.com")
        | Задавайте вопросы по электронной почте. &nbsp;
    p
      | Good.web@yahoo.com
