section
  .container-md
    .row
      .col-12.col-sm-6
        .wrapper_info
          h2  Лучшие автомобильные Страховые компании на 2021 год
          h4  Мы изучили процессы урегулирования претензий, прозрачность, жалобы и многое другое, чтобы найти и оценить лучшие компании по страхованию автомобилей.
          p
            |Многие или все продукты, представленные здесь, предоставлены нашими партнерами, которые компенсируют нам. Это может повлиять на то, о каких продуктах мы пишем, где и как они появляются на странице. Однако это не влияет на наши оценки. Наше мнение - наше собственное.
          p
            | Лучшие компании по страхованию автомобилей предоставляют своим клиентам больше, чем просто страхование, которое они хотят по разумной цене - это могут сделать только хорошие компании. Вдобавок ко всему, лучшие компании по автострахованию обеспечивают взаимодействие с клиентом в первую очередь от предложения до заявки, включая удобный способ управления политиками и осуществления платежей.
      .col-12.col-sm-6
        .wrapper_car
          .wrapper_car_foto
