- var path_css        = "css/";
- var path_css_src    = "src/css/";
- var path_css_page   = "../../css/";
- var path_js         = "js/";
- var path_dev_js     = "./js/";
- var title           = "Bizcompany";

- var lang     = "ru-RU";
//- для путей инклудов в файле My work.pug
- var path_work = "template/section/work/";

//- этот файл конфигурации создан для теста сайта в директории test
- var namesite   = "Holywar";

//- временные пути к стилям пока сайт в разработке
- var css     			= "css/style.min.css";

//- временные пути к библиотекам jquery пока сайт в разработке
- var  jquery_gulp   	= "gulp/node_modules/jquery/dist/jquery.min.js";


//- постоянные пути к библиотекам jquery  готового  сайта
//- var  jquery   		= "js/jquery.min.js";

//- временные пути к библиотекам bootstrap пока сайт в разработке
- var js_bundle_btsp 	= "gulp/node_modules/bootstrap/dist/js/bootstrap.min.js";
- var js_bootstrap   	= "gulp/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js";
