extends templates/main

block content
  // 1  -  header
  .container-fuild
    include header/_header.pug
  // 2  - strahovanie
  .container-fuild
    include strahovanie/strahovanie.pug
  // 3  - findstrahovoy
  .container-fuild
    include findstrahovoy/finstrahovoy.pug
  // 4  - imgcar
  .container-fuild
    include imgcar/imgcar.pug
  // 5  - beststrahovih_1
  .container-fuild
    include beststrahovih_1/bestrahovih_1.pug
  // 6  - beststrahovih_2
  .container-fuild
    include bestsrahovih_2/bestrahovih_2.pug
  // 7  - quest
  .container-fuild
    include quest/quest.pug
  // 8  - safety
  .container-fuild
    include safety/safety.pug
  // 9  - tocontact
  .container-fuild
    include tocontact/tocontant.pug
  // 10 -  footer
  .container-fuild
    include footer/_footer.pug

  script(type="module" defer src="src/js/script.js")
  script(src="src/js/dinamPosition.js")
