extends templates/main

block content
  // 1  -  header
  .container-fuild
  // 2  - strahovanie
  .container-fuild
  // 3  - findstrahovoy
  .container-fuild
  // 4  - imgcar
  .container-fuild
  // 5  - beststrahovih_1
  .container-fuild
  // 6  - beststrahovih_2
  .container-fuild
  // 7  - quest
  .container-fuild
  // 8  - safety
  .container-fuild
  // 9  - tocontact
  .container-fuild
  // 10 -  footer
  .container-fuild
