section
  .container
    .row
      h2 Страхование и инвестирование для многих сторон
      h5 Мы защищаем людей, бизнес и будущее более 90 лет.
    .row
      .wrapper.col-12.col-sm-4
        .wrapper_card
          .wrapper_card_svg
            include svg_human
          h4 Для тебя и твоей семьи
          p
            | Мы защищаем автомобили, имущество, домашних животных и события
          a.nav.wrapper_card_link_button.rounded-pill(href="#") Подробнее
      .wrapper.col-12.col-sm-4
        .wrapper_card
          .wrapper_card_svg
            include svg_phone
          h4 Для вашего бизнесаи
          p
            | Мы защищаем бизнес и сотрудников, а также имущество и транспортные средства компании.
          a.nav.wrapper_card_link_button.rounded-pill(href="#") Подробнее
      .wrapper.col-12.col-sm-4
        .wrapper_card
          .wrapper_card_svg
            include svg_light
          h4 Для твоего будущего
          p
            | Мы защищаем инвестиции, пенсию и финансовые мечты.
          a.nav.wrapper_card_link_button.rounded-pill(href="#") Подробнее
