section
  .container
    .row
      .title_section
        h1 Часто задаваемые вопросы
        p
          | Sample text. Click to select the text box. Click again or  ouble click to start editing the text.

      .list_menu
        ul
          li What's included in the quoted daily rate?
          .text
            | Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit.   Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque  fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In  ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
          li What is the rental's mileage plan?
          .text
            |Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum.  Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit  amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi   nunc, et molestie ipsum iaculis sit amet.
          li What are your extra insurance options?
          .text
            | Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum.   Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit  amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi  nunc, et molestie ipsum iaculis sit amet.
          li Do I need to return the rental with a full tank?
          .text
            | Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum.   Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit  amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi  nunc, et molestie ipsum iaculis sit amet.
